html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

main, article, aside, figure, footer, header, nav, section, details, summary {
  display: block; }

* {
  box-sizing: border-box; }

html {
  font-size: 16px; }

@font-face {
  font-family: "Raleway-Regular";
  src: local("Raleway-Regular"), url("../../../fonts/raleway/Raleway-Regular.ttf"); }

@font-face {
  font-family: "Raleway-Bold";
  src: local("Raleway-Bold"), url("../../../fonts/raleway/Raleway-Bold.ttf"); }

header {
  height: 40px;
  background-color: black;
  font-family: "Raleway-Regular";
  color: white; }
  header #logo {
    line-height: 40px; }
  header .navigation {
    line-height: 40px;
    list-style: none;
    display: flex;
    justify-content: flex-end; }
    header .navigation li {
      margin-left: 30px; }
      header .navigation li a:link, header .navigation li a:visited, header .navigation li a:hover, header .navigation li a:active {
        text-decoration: none;
        color: white; }

#dropdown-button:hover, #dropdown-button:focus {
  background-color: white;
  color: black; }

.dropdown-content {
  position: relative;
  display: inline-block; }

.dropdown-list {
  display: none;
  position: absolute;
  line-height: 200%;
  padding: 5px 15px 5px 15px;
  background-color: black;
  display: flex;
  flex-direction: column;
  z-index: 1; }

.show {
  display: block; }

.carousel {
  height: 100%;
  background: white;
  background: -moz-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, white), color-stop(47%, #f6f6f6), color-stop(100%, #ededed));
  background: -webkit-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
  background: -o-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
  background: -ms-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
  background: linear-gradient(to bottom, white 0%, #f6f6f6 47%, #ededed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 ); }

.carousel-navigation {
  font-size: 4rem;
  line-height: 500%; }
  .carousel-navigation .carousel-arrow-right {
    float: right; }

.pricing {
  background: #f1f1f1; }

.price-header {
  padding: 40px 0 40px 0;
  font-size: 20px;
  color: #4c4c4c; }
  .price-header .price-header-underline {
    height: 5px;
    width: 33%;
    background-color: #2ec5aa;
    margin-top: 5px; }

[class*="price-plan"] {
  border: 1px solid #c1c1c1;
  background: #f9f9f9;
  height: 500px;
  margin: 10px 10px 10px 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; }
  [class*="price-plan"] .outer-circle {
    position: absolute;
    top: -40px;
    height: 60px;
    width: 60px;
    border: 1px solid #c1c1c1;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; }
    [class*="price-plan"] .outer-circle .inner-circle {
      height: 30px;
      width: 30px;
      background-color: #c1c1c1;
      border-radius: 50%; }
  [class*="price-plan"] h3 {
    color: #2ec5aa;
    margin: 40px 0 40px 0;
    font-size: 20px; }
  [class*="price-plan"] .price-circle {
    height: 150px;
    width: 150px;
    border: 1px solid #c1c1c1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 40px;
    color: #c1c1c1; }
    [class*="price-plan"] .price-circle span {
      font-size: 15px; }
    [class*="price-plan"] .price-circle .per-month-text {
      font-size: 20px; }

html {
  font-family: "Raleway-Regular", Arial, sans-serif; }

.main-color {
  color: #2ec5aa; }

.bold-text {
  font-family: "Raleway-Bold"; }

.row {
  display: flex;
  justify-content: space-between; }

.grid-container {
  width: 100%;
  max-width: 1200px;
  border: 1px solid red;
  margin: 0 auto; }
  .grid-container .row:before, .grid-container .row:after {
    content: "";
    display: table;
    clear: both;
    border: 1px solid blue; }
  .grid-container .row [class*="col-"] {
    float: left;
    min-height: 1px;
    border: 1px solid greenyellow; }
  .grid-container .col-12 {
    width: 100%; }
  .grid-container .col-11 {
    width: 91.66667%; }
  .grid-container .col-10 {
    width: 83.33333%; }
  .grid-container .col-9 {
    width: 75%; }
  .grid-container .col-8 {
    width: 66.66667%; }
  .grid-container .col-7 {
    width: 58.33333%; }
  .grid-container .col-6 {
    width: 50%; }
  .grid-container .col-5 {
    width: 41.66667%; }
  .grid-container .col-4 {
    width: 33.33333%; }
  .grid-container .col-3 {
    width: 25%; }
  .grid-container .col-2 {
    width: 16.66667%; }
  .grid-container .col-1 {
    width: 8.33333%; }

/*# sourceMappingURL=main.css.map */
