html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

main, article, aside, figure, footer, header, nav, section, details, summary {
  display: block; }

* {
  box-sizing: border-box; }

html {
  font-size: 16px; }

@font-face {
  font-family: "Raleway-Regular";
  src: local("Raleway-Regular"), url("../../../fonts/raleway/Raleway-Regular.ttf"); }

@font-face {
  font-family: "Raleway-Bold";
  src: local("Raleway-Bold"), url("../../../fonts/raleway/Raleway-Bold.ttf"); }

header {
  height: 40px;
  background-color: black;
  font-family: "Raleway-Regular";
  color: white; }
  header #logo {
    line-height: 40px; }
  header .navigation {
    line-height: 40px;
    list-style: none;
    display: flex;
    justify-content: flex-end; }
    header .navigation li {
      margin-left: 30px; }
      header .navigation li a:link, header .navigation li a:visited, header .navigation li a:hover, header .navigation li a:active {
        text-decoration: none;
        color: white; }

#dropdown-button:hover, #dropdown-button:focus {
  background-color: white;
  color: black; }

.dropdown-content {
  position: relative;
  display: inline-block; }

.dropdown-list {
  display: none;
  position: absolute;
  line-height: 200%;
  padding: 5px 15px 5px 15px;
  background-color: black;
  display: flex;
  flex-direction: column;
  z-index: 1; }

.show {
  display: block; }

.carousel {
  height: 100%; }

.carousel-navigation {
  font-size: 4rem;
  line-height: 500%; }
  .carousel-navigation .carousel-arrow-right {
    float: right; }

.carousel-image {
  line-height: 500%; }

.carousel-text .carousel-button {
  background-color: #2ec5aa;
  color: white;
  padding: 10px 20px 10px 20px;
  border-radius: 5%; }

html {
  font-family: "Raleway-Regular", Arial, sans-serif; }

.main-color {
  color: #2ec5aa; }

.bold-text {
  font-family: "Raleway-Bold"; }

.row {
  display: flex;
  justify-content: space-between; }

.grid-container {
  width: 100%;
  max-width: 1200px;
  border: 1px solid red;
  margin: 0 auto; }
  .grid-container .row:before, .grid-container .row:after {
    content: "";
    display: table;
    clear: both;
    border: 1px solid blue; }
  .grid-container .row [class*="col-"] {
    float: left;
    min-height: 1px;
    border: 1px solid greenyellow; }
  .grid-container .col-12 {
    width: 100%; }
  .grid-container .col-11 {
    width: 91.66667%; }
  .grid-container .col-10 {
    width: 83.33333%; }
  .grid-container .col-9 {
    width: 75%; }
  .grid-container .col-8 {
    width: 66.66667%; }
  .grid-container .col-7 {
    width: 58.33333%; }
  .grid-container .col-6 {
    width: 50%; }
  .grid-container .col-5 {
    width: 41.66667%; }
  .grid-container .col-4 {
    width: 33.33333%; }
  .grid-container .col-3 {
    width: 25%; }
  .grid-container .col-2 {
    width: 16.66667%; }
  .grid-container .col-1 {
    width: 8.33333%; }

/*# sourceMappingURL=main.css.map */
