//Stylowanie nagłówka

header {
    height: 40px;
    background-color: black;
    font-family: "Raleway-Regular";
    color: white;

    #logo {
        line-height: 40px;
    }

    .navigation {
        line-height: 40px;
        list-style: none;
        display: flex;
        justify-content: flex-end;

        li {
            margin-left: 30px;
            a:link, a:visited, a:hover, a:active {
                text-decoration: none;
                color: white;
            }
        }
    }
}

//Pokazywanie i ukrywanie dropmenu

#dropdown-button:hover, #dropdown-button:focus {
    background-color: white;
    color: black;
}

.dropdown-content {
    position: relative;
    display: inline-block;
}

.dropdown-list {
    display: none;
    position: absolute;
    line-height: 200%;
    padding: 5px 15px 5px 15px;
    background-color: black;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.show {
    display: block;
}
