.carousel {
    height: 100%;
}

.carousel-navigation {
    font-size: 4rem;
    line-height: 500%;
    .carousel-arrow-right {
        float: right;
    }
}

.carousel-image {
    line-height: 500%;
}

.carousel-text {
    .carousel-button {
        background-color: $mainColor;
        color: white;
        padding: 10px 20px 10px 20px;
        border-radius: 5%;
    }

}
