@font-face {
	font-family: "Raleway-Regular";
	src: local("Raleway-Regular"), url("../../../fonts/raleway/Raleway-Regular.ttf");
}

@font-face {
    font-family: "Raleway-Bold";
    src: local("Raleway-Bold"), url("../../../fonts/raleway/Raleway-Bold.ttf");
}
